.admin-home {
  width: 100vw;
  min-height: 73vh;
  box-sizing: border-box;
  padding-top: 100px;
}

.admin-sidebar {
  width: 25vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.admin-sidebar-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 100px 5px 5px 5px;
  gap: 60px;

  .link-list {
    font-size: 0.7rem;
    color: white;
    gap: 20px;

    .link {
      &:hover {
        color: $primaryColor;
      }
    }
  }
}

.admin-sidebar-border {
  width: 15px;
  height: 100%;
  background-color: gray;
  box-sizing: border-box;
  padding: 0 3px;
  border-left: 1px solid rgb(48, 48, 48);
  border-right: 1px solid rgb(48, 48, 48);

  .border-line {
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(48, 48, 48);
    border-left: 1px solid rgb(48, 48, 48);
    box-shadow: inset 0 1px 4px rgba($color: #000000, $alpha: 0.6),
      inset 0 -1px 4px rgba($color: #000000, $alpha: 0.6);
  }
}

.admin-outlet {
  height: 100%;
  width: 75vw;
}

.admin-menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 10px;
}

@media(min-width: 768px) {
  .admin-sidebar {
    width: 22vw;
  }
  .admin-sidebar-content {
    padding: 120px 20px 20px 20px;
    .link-list {
      font-size: 1rem;
    }
  }

  .admin-outlet {
    width: 78vw;
  }
}

@media (min-width: 1280px) {
  .admin-sidebar {
    width: 20vw;
  }

  .admin-sidebar-content {
    padding-top: 140px;
  }

  .admin-outlet {
    width: 80vw;
  }
}

@media (min-width: 1440px) {
  .admin-sidebar {
    width: 15vw;
  }

  .admin-outlet {
    width: 85vw;
  }
}
