.banner-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vw;
  width: 100vw;
  overflow: hidden;
}

.semi-circle {
  position: absolute;
  height: 35vw;
  width: 100vw;
  border: 2px solid white;
  border-bottom: none;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border-bottom: none;
  z-index: 1;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  z-index: 2;

  &-1st-row,
  &-2nd-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &-1st-row {
    width: 55vw;
    bottom: 9vw;
    /*border: solid 1px blue;*/
  }

  &-2nd-row {
    width: 81vw;
    bottom: 8vw;
    /*border: solid 1px red;*/
  }
}

.step {
  width: 4vw;
  height: 4vw;
  border: 3px solid white;
  border-radius: 100%;
  z-index: 3;
}
