
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner .slider:hover {
    animation-play-state: paused;
}


.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider {
    position: absolute;
    width: 450px;
    height: 250px;
    top: 18%;
    left: calc(42% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 3;
}
@keyframes autoRun {
    from {
        transform: perspective(980px) rotateX(-8deg) rotateY(0deg);
    }
    to {
        transform: perspective(980px) rotateX(-8deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}
.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
@media screen and (max-width: 1024px) {
    .banner .slider {
        width: 350;
        height: 200px;
        top: 12%;
        left: calc(50% - 90px);
        transform: perspective(900px);
    }

    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(500px);
    }

    .banner .content {
        padding-bottom: 70px;
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .banner .slider {
        width: 350px;
        height: 200px;
        top: 15%;
        left: calc(50% - 75px);
        transform: perspective(800px);
    }
    
    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(400px);
    }
    
    .banner .content {
        padding-bottom: 50px;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}